html {
  height: 100%;
}

body {
  height: 100%;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-color: #5d79d5;
}

.content {
  background-position: right bottom;
  text-align: center;
  color: white;
  display: flex;
  flex-direction: row;
}

.mascote {
  margin-bottom: -6px;
  margin-left: -400px;
  height: 99.6vh;
}

@media screen and (max-width: 1280px) {
  .mascote {
    margin-left: -435px;
    height: 100vh;
  }
}

.mascoteHead {
  margin-top: 20px;
  width: 60vw;
}

.background {
  width: 40vw;
}

.rightSide {
  display: flex;
  flex-direction: column;
}

.title {
  font-family: "Coolvetica", sans-serif;
  font-size: 44px;
  color: white;
  margin: 20px;
}

.date {
  font-family: "Coolvetica", sans-serif;
  font-size: 32px;
  text-transform: uppercase;
  color: white;
  margin: 20px;
}

a.social-link {
  color: white;
  margin: 0 1rem;
  transition: transform 250ms;
  display: inline-block;
  margin: 20px 10px;
}

a.social-link:hover {
  color: #263d92;
  transform: scale(1.5);
}

a.registration,
a.edicao,
a.mailSponser {
  font-family: "Coolvetica", sans-serif;
  transition: transform 250ms;
  text-transform: uppercase;
  margin: 20px 5px;
  color: white;
  text-decoration: none;
}

a.registration:hover,
a.edicao:hover,
a.mailSponser:hover {
  color: #263d92;
  transform: scale(1.2);
}

.underline {
  font-size: 1.2rem;
  text-decoration: underline white !important;
}
.underline:hover {
  text-decoration: underline #263d92 !important;
}

@media screen and (max-width: 600px) {
  .title {
    font-family: "Coolvetica", sans-serif;
    font-size: 34px;
    color: white;
    margin: 20px;
  }

  .date {
    font-family: "Coolvetica", sans-serif;
    font-size: 26px;
    text-transform: uppercase;
    color: white;
    margin: 20px;
  }
}

.registration-container {
  display: contents;
}
