/* ./styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  overflow-x: hidden;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  background: #04041c;
}

canvas {
  margin: 0;
  overflow: hidden;
}

@font-face {
  font-family: "Inter-Regular";
  src: url("/fonts/Inter/Inter-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Terminal";
  src: url("/fonts/TerminalGrotesque/TerminalGrotesque.ttf") format("truetype");
}

.font-terminal-uppercase {
  @apply font-terminal;
  text-transform: uppercase;
  -webkit-text-stroke-color: currentColor;
  -webkit-text-stroke-width: 0.25px;
}
